*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background-color: rgb(3, 9, 92);
    color: goldenrod;
}

li{
    display: inline;
    font-size: 40px;
    color: lightslategray;
}