*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header{
    width: 100%;
    background-color: violet;
}

li{
    display: inline;
    font-size: 40px;
    color: lightcoral;
}